In [1]:
# Importing libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [4]:
sns.set_style('darkgrid')

In [48]:
# create a dataframe to import data for the tutorial

df = pd.DataFrame({'date_of_trip':['08-11-2017', '10-05-2017', '11-10-2017','18-06-2017','19-06-2017'],
                  'time_of_trip': ['05:39','15:56','12:35','05:37','06:30'],
                  'weather': ['cloudy','cloudy','clear','clear','rainy'],
                  'other_circuit': ['healthy','healthy','healthy','healthy','healthy'],
                  'line_trip': ['yes','yes','yes','yes','yes'],
                  'load_of_line': ['71','187','124','105','102'],
                  'voltage': ['237','220','229','228','229'],
                  'frequency': ['49.87','49.98','49.94','50.01','50.05'],
                  'other_line_status': ['NaN','NaN','NaN','NaN','NaN'],
                  'date of restoration': ['08-11-2017', '10-05-2017', '11-10-2017','18-06-2017','19-06-2017'],
                  'time_of_restoration': ['07:50','16:34','13:45','06:17','07:18'],
                  'observation': ['NaN','NaN','NaN','NaN','disc puncture'],
                  'repair_carried': ['nil','nil','nil','nil','feeder isolated'],
                  'tripping_reason': ['bad weather','transient fault','foreign element','foreign element','transient fault'],
                  'type_of_fault': ['low','high','medium','medium','medium'],
                  'nature': ['ABC','ABC','ABC','ABC','ABC']})

In [53]:
# Print one txt file with the data 

np.savetxt("electric_faults_data.txt", df, fmt = "%s", delimiter=',', 
           newline='', header='date_of_trip ', footer='\n\nAuthor: ')
#'date_of_trip time_of_trip weather other_circuit line_trip load_of_line voltage frequency other_line_status date of restoration time_of_restoration observation repair_carried tripping_reason type_of_fault nature\n\n'

In [52]:
df

,date_of_trip,time_of_trip,weather,other_circuit,line_trip,load_of_line,voltage,frequency,other_line_status,date of restoration,time_of_restoration,observation,repair_carried,tripping_reason,type_of_fault,nature
0,08-11-2017,05:39,cloudy,healthy,yes,71,237,49.87,NaN,08-11-2017,07:50,NaN,nil,bad weather,low,ABC
1,10-05-2017,15:56,cloudy,healthy,yes,187,220,49.98,NaN,10-05-2017,16:34,NaN,nil,transient fault,high,ABC
2,11-10-2017,12:35,clear,healthy,yes,124,229,49.94,NaN,11-10-2017,13:45,NaN,nil,foreign element,medium,ABC
3,18-06-2017,05:37,clear,healthy,yes,105,228,50.01,NaN,18-06-2017,06:17,NaN,nil,foreign element,medium,ABC
4,19-06-2017,06:30,rainy,healthy,yes,102,229,50.05,NaN,19-06-2017,07:18,disc puncture,feeder isolated,transient fault,medium,ABC

In [55]:
print("The shape of the data is :",df.shape)

The shape of the data is : (5, 16)

In [57]:
df.describe()

,date_of_trip,time_of_trip,weather,other_circuit,line_trip,load_of_line,voltage,frequency,other_line_status,date of restoration,time_of_restoration,observation,repair_carried,tripping_reason,type_of_fault,nature
count,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
unique,5,5,3,1,1,5,4,5,1,5,5,2,2,3,3,1
top,08-11-2017,05:39,cloudy,healthy,yes,71,229,49.87,NaN,08-11-2017,07:50,NaN,nil,transient fault,medium,ABC
freq,1,1,2,5,5,1,2,1,5,1,1,4,4,2,3,5

In [58]:
plt.figure(figsize=(12,7))
f = sns.heatmap(data.isnull(), cbar = False, cmap = 'viridis')
f.set_xticklabels(labels = f.get_xticklabels(), fontdict={'fontsize':13})
plt.title("Heatmap of Missing Values", fontsize = 15)
plt.show()

AttributeError: 'function' object has no attribute 'isnull'

In [59]:
data['tripping_reason'].value_counts()

TypeError: 'method' object is not subscriptable